<%= form_tag(:action => 'passreset_attempt') do %>
<div class="modal" id="password_modal">
    <div class="modal-header">
        <h3>Change Password <span class="extra-title muted"></span></h3>
    </div>
    <div class="modal-body form-horizontal">
        <div class="control-group">
            <label for="username" class="control-label">Username or email</label>
            <div class="controls">
                <input type="text" name="username">
            </div>
        </div>    
        <div class="control-group">
            <label for="current_password" class="control-label">Current Password</label>
            <div class="controls">
                <input type="password" name="current_password">
            </div>
        </div>
        <div class="control-group">
            <label for="new_password" class="control-label">New Password</label>
            <div class="controls">
                <input type="password" name="new_password">
            </div>
        </div>
        <div class="control-group">
            <label for="confirm_password" class="control-label">Confirm Password</label>
            <div class="controls">
                <input type="password" name="confirm_password">
            </div>
        </div>      
    </div>
    <div class="modal-footer">
        <%= submit_tag "Close", :name => 'cancel_button' ,:class => 'btn' %>
        <%= submit_tag "Save Changes", :name => 'submit_button' ,:class => 'btn btn-primary' %>
    </div>
</div>
<% end %>